html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'TimesCond', serif;
    overflow: hidden;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

body {
    background: white;
    font-family: serif;
    background-attachment: fixed;
    background-size: cover;
}

.bgvideo {
    position: fixed;
    min-width: 150%;
    min-height: 150%;
    width: auto;
    height: auto;
    z-index: -100;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

.example {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* z-index: 0; */
    z-index: 1;
}

.example div {
    position: absolute;
    /* overflow: hidden;  */
    cursor: pointer;
    left: 100%;
    max-width: 750px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.intro {
    line-height: 2em;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.example span {
    position: absolute;
}

.caption {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    text-align: center;
}

.caption a {
    color: red;
}

.caption.active {
    opacity: 100%;
    transition: opacity 3s
}

.name {
    font-style: normal;
    color: white;
    text-decoration: none;
    padding-top: 15px;
}

.highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 20px 20px;
    z-index: 10;
}


/* Modal */

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}


/* Tags */

.tag-group {
    padding-bottom: 0.5em;
}

.tag {
    font-family: "ArialNarrow", Helvetica, Arial, sans-serif;
    border: 1px lightgrey solid;
    font-size: 0.75rem;
    background: #F0F0F0;
    color: grey;
    padding: 0.1875rem 0.5rem;
    border-radius: 1.125rem;
    text-transform: uppercase;
    display: inline-block!important;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.tag:hover {
    background: white;
}


/* Fullscreen BG */

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    width: 40%;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 5% auto;
    padding-right: 10px;
    font-size: 1.2em;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(15%, rgba(0, 0, 0, 1)), color-stop(85%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 0)));
}

.modalDialog a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.close {
    float: right;
    cursor: pointer;
    z-index: 99999999;
    font-size: 2.0em;
}

.close:hover {
    color: grey;
}

.modalDialog img {
    position: relative;
    width: 100%;
}

.projectdesc {
    font-size: 0.8em;
}


/* Youtube Article*/

.video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gap {
    display: block;
    margin: 100px 0;
}

img.end {
    transform: translate(-5px, 0px);
    width: 50px;
}


/* Media Queries */

@media (max-width: 1280px) {
    .modal-content {
        width: 50%;
    }
    .modaltext {
        background: red;
        width: 50%;
    }
}

@media (max-width: 1024px) {
    .modal-content {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .modal-content {
        width: 70%;
    }
    .modalDialog>div {
        width: 85%;
    }
    .highlight span {
        display: block;
        width: 100%;
        margin-bottom: -15px;
    }
}

@media (max-width: 640px) {
    .modal-content {
        width: 90%;
    }
    .highlight span {
        display: block;
        width: 100%;
        margin-bottom: -15px;
    }
    .example img {
        max-height: 95%;
        max-width: 120%;
    }
}

label {
    cursor: pointer;
    padding-right: 50px;
}

.logo {
    width: 80px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

input~span {
    opacity: 0.3;
}

input:checked~span {
    opacity: 1.0;
}

.highlight span {
    width: 99%!important;
}

button {
    text-decoration: none;
    color: black;
}


/* ================ Fonts ================  */

@font-face {
    font-family: 'TimesCond';
    src: url('../css/TimesCond.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TimesCondItalic';
    src: url('../css/TimesCondItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ArialNarrow';
    src: url('../css/arialn.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ArialNarrowItalic';
    src: url('../css/arialni.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}